.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #242424;
  overflow: scroll;
}
.titleAbout {
  margin: 50px auto;
}
.bodyWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #242424;
}
.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  margin-top: 150px;
  margin-right: 100px;
  padding: 20px;
  font-size: 14px;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
}
.aboutContainer p {
  width: 50%;
  color: #fff;
}

@media (max-width: 768px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;

    background-color: #242424;
  }

  .aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 150px;
    font-size: 14px;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #242424;
  }
  .aboutContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #242424;
  }
  .text {
    width: 100%;
  }

  .bodyWrapper {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #242424;
  }
}
@media (max-height: 500px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background-color: #242424;
  }
}

@media (max-width: 450px) {
  .aboutContainer {
    margin-top: 100px;
    width: 90%;
  }
  .aboutContainer p {
    width: 80%;
  }
}
