.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #242424;
  font-family: 'Nunito Sans', sans-serif;
  color: #080808;
}

.lowerWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}
.contactsTitle {
  display: flex;
  width: 80%;
  font-size: 25px;
  color: #fff;

  margin-bottom: 50px;
}
.instaFormWrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  font-size: 14px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.contactsWrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 100px;
  width: 50%;
  margin-top: 50px;
  color: #fff;
}
.contactsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.contactsContainerStylist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  color: #fff;
}

.phoneContainer {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 0.5em;
}
.emailContainer {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 0.5em;
}

.instagramContainer {
  display: flex;
  justify-content: start;
  gap: 0.5em;
  width: 100%;
  font-size: 14px;
  color: #fff;
}
.facebookContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5em;
  width: 100%;
  font-size: 14px;
  color: #fff;
}
.instagramLinks {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form {
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items: center;
  width: 80%;
  height: 100%;
}
.form input {
  outline: none;
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2em;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #d6d5d5;
  background-color: #242424;
  color: #fff;
  border-radius: 4px;
}
.messageInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10em;
  padding: 20px;
  margin-bottom: 10px;
  outline: none;
  resize: none;
  border: 1px solid #d6d5d5;
  background-color: #242424;
  color: #fff;
  border-radius: 4px;
}
.formButtonWrapper {
  display: flex;
  justify-content: right;
  width: 100%;
}
.formButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 2em;
  padding: 20px;
  color: #1f1e1e;
  background-color: #f4f1f1;
  border-radius: 4px;
  border: 0.5px solid #d6d5d5;
  cursor: pointer;
}
.formButton:hover {
  background-color: #4a4646;
  color: #fff;
  border: none;
}
.formButton:active {
  background-color: #5c5757;
  color: #fff;
  border: none;
}
.messageSent {
  background-color: transparent;
  border: 1px solid #02af02;
  color: #02af02;
  padding: 10px;
  width: 80%;
}

@media (max-width: 820px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background-color: #242424;
    font-family: 'Nunito Sans', sans-serif;
    color: #080808;
  }
  .lowerWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .formContainer {
    width: 100%;
  }
  .mainWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .instaFormWrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80%;
    font-size: 14px;
    margin-top: 150px;
    justify-content: baseline;
  }
  .contactsWrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
  }
}
@media (max-height: 500px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: scroll;
    background-color: #242424;
    font-family: 'Nunito Sans', sans-serif;
    color: #080808;
  }
}
@media (max-width: 430px) {
  .mainContainer {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-left: 0px;
  }
  .lowerWrapper {
    margin-top: 0px;
  }
  .contactsContainer {
    margin-bottom: 20px;
  }
  .instaFormWrapper {
    margin-left: 0px;
  }
  .contactsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
  }
}
