.mainContainer {
  display: flex;
  width: 20em;
  gap: 20px;
  background-color: transparent;
  width: auto;
  color: transparent;
  z-index: 100;
  font-family: 'Nunito Sans', sans-serif;
}
.deployedMenuContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.menuItem {
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 10px;
  color: #f7f4f4;
  cursor: pointer;
  font-size: 14px;
}
.menuItemWhite {
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 10px;
  color: #a8a6a6;
  cursor: pointer;
  font-size: 14px;
}

.activeMenuItem {
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 10px;
  cursor: pointer;
  color: black;
  font-size: 14px;
  /* border-bottom: 1px solid #0f0f0f; */
}
.activeMenuItemWhite {
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 10px;
  cursor: pointer;
  color: rgb(220, 187, 91);
  font-size: 14px;
}
.menuItem:hover {
  color: rgb(220, 187, 91);
  /* border-bottom: 1px solid #e41207; */
}

@media (max-width: 768px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 20px;
    background-color: transparent;
    width: auto;
    color: white;
    z-index: 100;
    font-family: 'Nunito Sans', sans-serif;
  }

 
}