@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

.mainContainer {
  position: absolute;
  left: 1%;
  top: 5%;
  display: flex;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  background-color: transparent;
  z-index: 50;
}
.mainWrapper {
  display: flex;
  gap: 20px;
}
.mainTitle {
  display: flex;
  flex-direction: column;
  justify-content: right;
  color: #fbfbfb;
  width: 100%;
  z-index: 50;
  font-family: 'Nunito Sans', sans-serif;
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  width: 170px;
}
.titleName {
  min-width: 100px;
}
.menuContainer {
  width: auto;
  z-index: 50;
}

/* .mainTitleBlack {
  position: absolute;
  left: 5%;
  top: 5%;
  display: flex;
  align-items: baseline;
  gap: 40px;
  color: #000;
  z-index: 50;
  font-family: 'Nunito Sans', sans-serif;
} */

.titleName {
  display: flex;
  justify-content: end;
  font-size: 16px;
}
.titleSubName {
  display: flex;
  font-size: 12px;
  align-items: right;
  justify-content: end;
}
.deployedMenuContainerMobile {
  display: none;
}

@media (max-width: 768px) {
  .mainContainer {
    position: absolute;
    left: 1%;
    top: 5%;
    display: flex;
    gap: 40px;
    width: 100%;
    height: auto;
    margin-right: 100px;
  }
  .menuContainer {
    display: none;
  }
  .mainTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fbfbfb;
    min-width: auto;
    z-index: 50;
    font-family: 'Nunito Sans', sans-serif;
  }

  .deployedMenuContainer {
    display: none;
  }

  .deployedMenuContainerMobile {
    display: flex;
    justify-content: left;
    align-items: baseline;
    z-index: 150;
  }
  .deployedMobMenuContainer {
    position: absolute;
    top: 50px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #020202;
    color: #fff;
    z-index: 100;
    font-family: 'Nunito Sans', sans-serif;
  }
  .mobMenuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3e3d3d;
    border-bottom: 1px solid #2d2d2d;
  }
  .mobMenuItem:hover {
    background-color: #2d2d2d;
  }
  .activeMobMenuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #2d2d2d;
    background-color: #000;
  }
}
