@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

.mainTitle {
  position: absolute;
  left: 5%;
  top: 5%;
  display: flex;
  align-items: baseline;
  gap: 40px;
  color: #fbfbfb;
  z-index: 50;
  font-family: 'Nunito Sans', sans-serif;
}

.mainTitleBlack{
    position: absolute;
    left: 5%;
    top: 5%;
    display: flex;
    align-items: baseline;
    gap: 40px;
    color: #000;
    z-index: 50;
    font-family: 'Nunito Sans', sans-serif;
}

.titleName {
  font-size: 16px;
}
.titleSubName {
  display: flex;
  justify-content: end;
  font-size: 12px;
}
