.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: auto;
  background-color: #242323;
}
.blogContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
  width: 98%;
  min-height: calc(100vh - 100px);
  height: auto;
  background-color: #fff;
  border-radius: 4px;
  color:#090909
}
.blogTitle {
  display: flex;
  justify-content: left;
  font-size: 30px;
  width: 80%;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blogItemCollapsed {
  position: relative;
  width: 80%;
  height: 350px;
  /* border: 1px solid #ccc; */
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f5f7f9;
  border-radius: 4px;
  overflow: hidden;
}
.blogItemDeployed {
  position: relative;
  width: 80%;
  height: auto;
  /* border: 1px solid #ccc; */
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f5f7f9;
  border-radius: 4px;
}
.postTitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #252323;
}
.nameDateWrapper {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.blogAuthor {
  font-size: 12px;
  color: #4a4444;
}
.blogDate {
  font-size: 10px;
  color: #4a4444;
}
.blogImage {
  display: flex;
  width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 4px;
}
.blogTextCollapsed {
  width: 50%;
  height: 160px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  overflow: hidden;
}
.blogTextDeployed {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  overflow: scroll;
}
.blogImage img {
  width: auto;
  height: 200px;
  border-radius: 4px;
}

.contentWrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}
.readMoreButton {
  position: absolute;
  right: 50px;
  bottom: 30px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.readMoreButton:hover {
  background-color: #282829;
  color: #fff;
  transition: 0.4s;
}
.mainTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.boldText {
  display: flex;
  justify-content: left;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  color: #090909;
  margin-bottom: 20px;
}

.imageInPostContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.imageInPostContainer img {
  width: 100%;
  height: 100%;
}
