

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.emptyBox {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  z-index: 2;
}
.card {
  width:auto;
  overflow: hidden;
  height: auto;
}
.card img:hover {
  cursor: pointer;
}

.card1 {
  width: 100%;
  height: auto;
}
.card1 img {
  width: 100%;
  height: auto;
}
.card2 {
  display: flex;
  width: 49.9%;
  height: auto;
  margin-bottom: 2px;
}

.card2 img {
  width: 100%;
  height: auto;
}

.card2 img:hover {
  transform: scale(1.2);
  transition: transform 3s;
}
.card3 {
  width: 33.2%;
  height: auto;
  margin-bottom: 2px;
}

.card3 img {
  width: 100%;
  height: auto;
}
.card3 img:hover {
  transform: scale(1.2);
  transition: transform 3s;
}

@media (max-width: 768px) {
  .card2 {
    width: 100%;
  }
  .card3 {
    width: 100%;
  }

  .emptyBox{
    display: none;
  }
}
