@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-color: #f8f8f8;
}
.titleAbout {
  margin: 50px auto;
}
.bodyWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: scroll;
  padding: 50px;
  background-color: #f8f8f8;
}
.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40em;
  margin-top: 100px;
  margin-right: 100px;
  padding: 20px;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
}
