.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-image: url('/photo/heirloon_tomatoo_1_i.jpg');
  /* background-color: #0e0d0d; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.photoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 2px;
}
.row img:hover {
  transform: scale(1.2); /* Increase the scale to zoom in on hover */
  transition: transform 3s;
  cursor: pointer;
}
.imageWrapper {
  display: flex;
  overflow: hidden;
  width: 50%;
  height: auto;
}
.verticalSplitter {
  height: auto;
  width: 2px;
  background-color: transparent;
}

.fullscreenRow {
  width: 100%;
  cursor: pointer;
}
.filler {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  z-index: 2;
}

@media (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .imageWrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-bottom: 1px;
  }
  .imageWrapper img {
    margin-bottom: 1px;
  }
  .verticalSplitter {
    display: none;
  }
  .row img {
    width: 100%;
  }

  .fullscreenRow img {
    width: 100%;
    cursor: pointer;
  }
}
